@import "fuentes";
@import "variables";
@import "header";
@import "general";
@import "hero";
@import "galeria";
@import "mediasq";

.header {
font-size: 27px;
     padding: 10px;
 }

.bi {
    font-size: 4.5rem;   }
